//MEDIA QUERIES
$mobile: 576px;
$tablet: 768px;
$tablet_md: 992px;
$desktop: 1200px;

//COLORS

$color_layout: #fedd00;
$color_slider: #ffe54c;
$color_secundario: #31363b;
$color_3: #f6f6f6;
$color_4: #848383;
$color_5: #ff9d00;

$color_text: #31363b;

//ALTO SLIDER
$alto_slider: 500px;
