#header_container {
  a {
    padding: 0;
  }
}


#logo_box {
  padding: 20px 0;
  padding-right: 20px;
  width: 150px;
  a:hover {
    background: none;
  }
}

@include mix_mobile {
  #logo_box {
    width: 200px;
  }
}
